* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 10px;
  box-sizing: border-box;
  background: var(--color-gs10);
  overflow-x: hidden;
}

body {
  height: calc(100% - var(--softkeybar-height));
}

#no-sites-icon:not(.hidden) {
  width: 9.6rem;
  height: 9.6rem;
  font-size: 9.6rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  color: var(--highlight-color);
  display: flex;
}

#no-sites-description:not(.hidden) {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--color-gs90);
  text-align: center;
}

h2 {
  text-align: center;
  border-top: 0.2rem solid #e5e5e5;
  font-size: 1.4rem;
  margin-top: 0.9rem;
  margin-bottom: -0.9rem;
  color: #a6a6a6;
}

h2 span {
  position: relative;
  top: -0.9rem;
  background: #fff;
  padding: 0.5rem;
  margin-bottom: 0;
  font-weight: 500;
}

#top-sites {
  width: 100%;
  position: fixed;
  max-height: calc(100% - var(--tabbar-height) - var(--softkeybar-height));
  overflow-x: hidden;
  overflow-y: hidden;
}

.top-site {
  display: flex;
  align-content: center;
  width: 100%;
  height: 6rem;
  position: relative;
  background-color: var(--color-gs00);
}

.top-site .description {
  width: calc(100% - 5.2rem); /* favicon 3.2rem + margin-left 2rem */
  height: 100%;
  flex: auto;
  align-self: center;
  margin-left: 1rem;
  line-height: 6rem;
  display: flex;
  flex-direction: column;
}

.top-site .title,
.top-site .url {
  display: block;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  pointer-events: none;
  width: calc(100% - 5.2rem);
  padding-right: 1rem;
}

.large-text .top-site span {
  height: 1.8rem;
}

.top-site .favicon {
  width: 3.2rem;
  height: 3.2rem;
  background-size: 100%;
  margin-left: 1rem;
  align-self: center;
}

.top-site .favicon img {
  width: 100%;
  height: 100%;
}

.top-site:focus {
  background-color: var(--color-cyan);
}

.top-site:focus .title, 
.top-site:focus .url {
  color: var(--color-gs00);
}

.top-site:focus span {
  background-color: var(--color-cyan);
  color: var(--color-gs00);
}

#history-sites {
  width: 100%;
  position: fixed;
  max-height: calc(100% - var(--tabbar-height) - var(--softkeybar-height));
  overflow-x: hidden;
  overflow-y: hidden;
}

#history-sites h3 {
  height: 2.4rem;
  color: var(--color-gs70);
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 2.2rem;
}

#history-sites .result {
  display: flex;
  align-content: center;
  width: 100%;
  height: 6rem;
  position: relative;
  background-color: var(--color-gs00);
}

#history-sites .result:focus {
  background-color: var(--highlight-color);
}

#history-sites .icon {
  width: 3.2rem;
  height: 3.2rem;
  background-size: 100%;
  margin-left: 1rem;
  align-self: center;
}

#history-sites .description {
  width: calc(100% - 5.2rem); /* favicon 3.2rem + margin-left 2rem */
  height: 100%;
  flex: auto;
  align-self: center;
  margin-left: 1rem;
  line-height: 6rem;
  display: flex;
  flex-direction: column;
}

#history-sites .description .title,
#history-sites .description .meta {
  display: block;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  pointer-events: none;
  max-width: calc(100% - 5.2rem);
}

#history-sites .result:focus .description .title,
#history-sites .result:focus .description .meta {
  color: var(--color-gs00);
}

#history-sites .description .title {
  height: 2rem;
  line-height: 1.7rem;
  margin-top: 1.2rem;
}

#history-sites .description .meta {
  height: 1.8rem;
  line-height: 1.4rem;
  margin-top: 3.2rem;
}

#history-sites .description.no-title .title {
  display: none;
}

#history-sites .description.no-title .meta {
  display: contents;
}

#history-sites .icon img {
  width: 100%;
  height: 100%;
}

#history .result {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem 0.7rem;
  overflow: hidden;
  color: #4d4d4d;
}

#history .result * {
  pointer-events: none;
}

#history .result .description {
  width: calc(100% - 1.8rem);
}

#history .icon {
  margin-top: 0.3rem;
  margin-bottom: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0.8rem;
  display: block;
  flex: 0 0 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
}

#history .icon img {
  display: none;
  width: 100%;
  height: 100%;
}

#history .icon.empty {
  border: 0.1rem dashed #5A5A5A;
  border-radius: 0.2rem;
}

#history .meta {
  font-size: 1.2rem;
  color: #5f5f5f;
}

#history .title, #history .meta {
  display: block;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#history h3 {
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  color: #858585;
  font-weight: normal;
  margin-top: 1rem;
}

/* RTL View */
html[dir="rtl"] .top-site {
  float: right;
}

html[dir="rtl"] .top-site .favicon,
html[dir="rtl"] .top-site .description {
  margin-left: unset;
  margin-right: 1rem;
}

html[dir="rtl"] .top-site .description,
html[dir="rtl"] .top-site .title,
html[dir="rtl"] .top-site .url,
html[dir="rtl"] #history .description {
  text-align: right;
}

html[dir="rtl"] #history .meta {
  direction: ltr;
}

html[dir="rtl"] #history-sites .icon,
html[dir="rtl"] #history-sites .description {
  margin-left: unset;
  margin-right: 1rem;
}

@media screen and (orientation: landscape) {
  #top-sites {
    margin-top: 0.6rem;
    margin-left: 1.0rem;
  }

  .top-site {
    display: block;
    float: left;
    width: 10rem;
    height: 11.9rem;
    position: relative;
    margin-bottom: 0.6rem;
    box-sizing: border-box;
    padding: 0.4rem 0.4rem;
  }

  #top-sites .top-site:nth-child(2n) {
    -moz-margin-start: 0.2rem;
  }

  .top-site .thumbnail {
    width: 9.2rem;
    height: 8.9rem;
    border-radius: 0.2rem;
    box-shadow: 0rem 0.1rem 0.3rem 0rem rgba(0, 0, 0, 0.3);
    background-size: 100% 100%;
  }

  .top-site:focus {
    border-radius: 0.2rem;
  }

  .top-site:focus .thumbnail {
    box-shadow: unset;
  }

  #no-sites-icon:not(.hidden) {
    font-size: 5.8rem;
    margin-top: 0.3rem;
    width: 5.8rem;
    height: 5.8rem;
  }

  #no-sites-description:not(.hidden) {
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
  }

}