#messaging-settings-container .container-header {
  padding: 0 1rem;
  line-height: 2.4rem
}

#messaging-settings-container header {
  background-color: var(--color-gs10);
}

#messaging-settings-container li {
  min-height: 6rem;
}

#messaging-settings-container li > a {
  color: var(--color-gs90);
  display: inline-block;
  padding: 0.6rem 1rem;
}

#messaging-settings-container li > a > small {
  color: var(--color-gs70);
  display: block;
  margin-top: 0.5rem;
  height: 50%;
}

#messaging-settings-container li.focus > a,
#messaging-settings-container li.focus > a > small {
  color: var(--color-gs00);
}

li label.pack-radio-large {
  width: 100%;
  line-height: 6rem;
}

li label.pack-radio-large span {
  margin: 0 1rem;
  padding: 0;
  display: inline-block;
  color: var(--color-gs90);
  width: 80%;
  line-height: 2.5rem;
}

li:focus label.pack-radio-large span {
  color: var(--color-gs00);
}

.setting-confirm {
  margin: 0.5rem 1rem;
  color: var(--color-gs70);
  font-size: 1.2rem;
}

@media only screen and (orientation: landscape) {
  li label.pack-radio-large {
    width: 100%;
    line-height: 5rem;
  }
}


/**
 * Emergency Alert Panel View
 */

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

ul li {
  -moz-box-sizing: border-box;
  position: relative;
  height: 100%;
  margin: 0;
  color: #000;
  background: var(--color-gs00);
}

ul li,
ul li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul li > a.menu-item > * {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1.8rem;
}

li#emergency-alert-item > a.menu-item:after {
  font-family: "gaia-icons";
  content: "forward";
  position: absolute;
  top: calc(50% - 1.5rem);
  right: 0.5rem;
  font-size: 3.2rem;
  color: var(--color-gs45);
}

li#emergency-alert-item > a.menu-item.alert:after {
  content: "alertforward";
}

.focus li#emergency-alert-item > a.menu-item:after {
  color: var(--color-gs00);
}
