<section class="msg-reader-view-attachments-header" role="region" data-statuscolor="default">
  <header data-prop="headerNode">
    <h1 id="msg-reader-attachments-header" class="msg-reader-view-attachments-header-label"
      data-prop="viewAttachmentsLabel"></h1>
  </header>
</section>
<div data-prop="scrollContainer" class="scrollregion-below-header"
     role="heading" aria-labelledby="msg-reader-attachments-header">
  <div data-prop="addrBar" class="cmp-envelope-bar">
    <ul data-prop="readerViewAttachmentsContainer" class="msg-reader-view-attachments-container">
    </ul>
  </div>
</div>
