<element name="call-voiceMailSettings" extends="section">
  <template>

    <gaia-header>
      <button type="reset"><span data-icon="close"></span></button>
      <h1 data-l10n-id="voiceMail-header"></h1>
      <button type="submit"><span data-l10n-id="ok"></span></button>
    </gaia-header>

    <div>
      <ul>
        <li>
          <p data-l10n-id="voiceMail-number" class="input-description"></p>
          <input type="tel" class="vm-number">
        </li>
      </ul>
    </div>

    <panel data-path="panels/call_voice_mail_settings/panel"></panel>
  </template>
</element>
