#pin-container ul > li,
#puk-container ul > li {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

#pin-container ul > li > span,
#puk-container ul > li > span {
  padding: 0.6rem 0 0.3rem;
  color: var(--color-gs70);
}

#pin-container ul > div {
  padding: 0.5rem 1rem 0;
}

#locked-container div {
  margin: 0.5rem 1rem;
}

.p-red {
  color: red;
}

.p-span-group {
  font-size : 0;
}

.p-span-group span {
  font-size : 1.4rem;
}

#input-puk .p-span-group {
  padding: 0.6rem 0 0.3rem;
}